---
name: Matrix demo on nodejs code
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  Setupnode:
    continue-on-error: true
      strategy:
        matrix:
          operating-system: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.operating-system }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Upload nodejs artifact
        uses: actions/upload-artifact@v3
        with:
          name: nodejs-artifact
          path: dist/
           
